<title>{{ title }}</title>
<meta name="generator" content="Jekyll v{{ jekyll.version }}" />
<meta property="og:title" content="{{ title }}" />
<meta name="author" content="{{ site.author }}" />
<meta property="og:locale" content="{{ site.lang }}" />

{% assign canonical = page.url | replace:'index.html','' %}
<link rel="canonical" href="{{ canonical | absolute_url }}" />

<meta property="og:url" content="{{ canonical | absolute_url }}" />
<meta property="og:type" content="object" />

{%- capture description -%}
Alle Beiträge zum Thema {{ page.autopages.display_name }} auf {{ site.name }}.
{%- endcapture -%}
<meta name="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ "site.default_image | absolute_url }}">
